div#formsDiv
    form#form1(action="/addToList" method="post") 
        input#addToListKey1(type="text", name="addToListKey1",value='', placeholder="Stad")
        br
        input#addToListKey2(type="number", name="addToListKey2", value='' placeholder="Antal inv책nare")
        br
        input#submitButton(type="submit", value="L채gg till")

div#formsDiv
    form(action="/deleteFromList" method="post") 
        br
        input#deleteFromList(type="text", name="deleteFromList",value='', placeholder="Namn p책 stad")
        br
        input#submitButton(type="submit", value="Ta bort")
div#formsDiv
    form(action="/updateList" method="post") 
        br
        input#updateListKey1(type="text", name="updateListKey1",value='' placeholder="Redigera Stad")
        br
        input#updateListKey2(type="text", name="updateListKey2",value='' placeholder="Ny stadsnamn")
        br
        input#updateListKey3(type="text", name="updateListKey3",value='' placeholder="Nytt antal inv책nare")
        br
        input#submitButton(type="submit", value="Uppdatera")