html
  head
    title= title
    link(rel='stylesheet', href='style.css', type='text/css')

  body
    h1= "Antal Invånare / stad"
    div#forms
      include get_form.pug
        div#List
          ul#listitem
              each val, index in list
                  li= index + ':' + val